<div class="c-image-hero">
    <h1 class="title">{{view.currentItem.country}}</h1>
    <img ng-src="{{view.currentItem.image}}" alt="" />
</div>
<div class="row">
    <div class="small-12 columns">
        <h1 class="title">{{view.currentItem.country}}</h1>
    </div>
    <div class="small-12 columns">
        <hr />
    </div>
    <div class="small-12 columns">
        <div style="margin-bottom: 50px;" ng-bind-html="view.currentItem.content"></div>
    </div>
    <div class="small-12 columns">
        <svg>
            <use xlink:href="#signature" />
        </svg>
    </div>
</div>
<accordion close-others="oneAtATime">
    <accordion-group ng-repeat="club in view.currentItem.clubs">
        <accordion-heading>
            <h2>{{club.name}}</h2>
            <slick dots="false" infinite="true" speed=300 slides-to-show=1 touch-move="true" slides-to-scroll=1 init-onload=true data="club.asset_urls">
                <div ng-repeat="image in club.asset_urls">
                    <div class="image">
                        <img ng-src="{{image.url}}" alt="">
                    </div>
                </div>
            </slick>
        </accordion-heading>
        <div class="row">
            <div class="small-12 columns">
                <div class="small-12 columns">
                    <h2 class="title">{{club.name}}</h2>
                </div>
                <div class="small-12 columns">
                    <hr />
                </div>
                <div class="small-12 columns">
                    <div class="row">
                        <div class="small-6 columns">
                            <div ng-bind-html="club.text1"></div>
                        </div>
                        <div class="small-6 columns">
                            <div ng-bind-html="club.text2"></div>
                        </div>
                    </div>
                    <div class="row align-right">
                        <div class="small-6 columns">
                            <button class="button">Learn More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </accordion-group>
</accordion>
