<div class="c-image-hero">
    <h1 class="title">{{view.currentItem.country}}</h1>
    <img ng-src="{{view.currentItem.image}}" alt="" />
</div>
<div class="row">
    <div class="small-12 columns">
        <h1 class="title">{{view.currentItem.country}}</h1>
    </div>
    <div class="small-12 columns">
        <hr />
    </div>
    <div class="small-12 columns">
        <div style="margin-bottom: 50px;" ng-bind-html="view.currentItem.content"></div>
    </div>
</div>
<accordion close-others="oneAtATime">
    <accordion-group ng-repeat="club in view.currentItem.clubs">
        <accordion-heading>
            <h2>{{club.name}}</h2>
            <img ng-src="{{club.cover}}" alt="">
        </accordion-heading>
        <div class="row">
            <div class="small-12 columns">
                <div class="small-12 columns">
                    <h2 class="title">{{club.name}}</h2>
                </div>
                <div class="small-12 columns">
                    <hr />
                </div>
                <div class="small-12 columns">
                    <div class="row">
                        <div class="small-12 medium-6 columns">
                            <div ng-bind-html="club.text1"></div>
                        </div>
                        <div class="small-12 hide-for-large">
                            <br />
                        </div>
                        <div class="small-12 medium-6 columns">
                            <div ng-bind-html="club.text2"></div>
                        </div>
                    </div>
                    <div class="row align-right">
                        <div class="small-12 medium-6 columns">
                            <button ng-click="view.openModal(club)" class="button slide-hor">Open Gallery</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </accordion-group>
</accordion>
