@font-face {
    font-family: 'queens_parkregular';
    src: url('fonts/queens__-webfont.eot');
    src: url('fonts/queens__-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/queens__-webfont.woff2') format('woff2'),
         url('fonts/queens__-webfont.woff') format('woff'),
         url('fonts/queens__-webfont.ttf') format('truetype'),
         url('fonts/queens__-webfont.svg#queens_parkregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
