    // Third party stuff
@import "../libs/foundation-sites/assets/foundation-flex";
@import url(https://fonts.googleapis.com/css?family=Palanquin);
// Variables
@import "variables";
@import "fonts";
// Plugins
@import "plugins/main-slick";
@import "plugins/theme-slick";
// Components
@import "components/image-hero";
@import "components/accordion";
// Elements
@import "elements/header";
body {
    font-size: $base-font-size;
    font-family: 'Palanquin', sans-serif;
}

.collapsed {
    padding: 0 !important;
}

.serif {
    font-family: 'Palanquin', sans-serif;
}

hr {
    margin-top: 0;
    border-width: 2px;
    border-color: $primary-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'queens_parkregular';
    &.title {
        color: $primary-color;
    }
    &.subheading {
        color: $grey-number-1;
        margin-top: 20px;
    }
}

h2.title {
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    @media #{$medium-up} {
        font-size: 68px;
        text-align: left;
    }
}

h5 {
    font-size: 1rem;
}

.partner-slider {
    height: 400px;
    overflow: hidden;
    slick {
        height: 400px;
    }
}

.sponsor-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        opacity: 0.75;
        transition: opacity .3s ease-in-out;
        &.active {
            opacity: 1;
        }
        a {
            display: block;
            height: 100%;
            padding: 20px;
            @media #{$medium-up} {
                padding: 80px;
            }
            img {
                width: 100%;
            }
        }
        &:hover {
            opacity: 1;
        }
    }
}

.slick-next {
    right: 10px;
    transform: translateY(-50%);
    background: #cacaca;
    height: 50px !important;
    width: 50px;
    border-radius: 50%;
    opacity: .5;
    transition: opacity .3s ease-in-out;
    &:hover {
        opacity: 1;
        background: #cacaca;
    }
}

.slick-prev {
    left: 10px;
    transform: translateY(-50%);
    background: #cacaca;
    height: 50px !important;
    width: 50px;
    border-radius: 50%;
    opacity: .5;
    transition: opacity .3s ease-in-out;
    &:hover {
        opacity: 1;
        background: #cacaca;
    }
}
