    // Third party stuff
@import "../libs/foundation-sites/assets/foundation-flex";
@import url(https://fonts.googleapis.com/css?family=Palanquin);
// Variables
@import "variables";
@import "fonts";
// Plugins
@import "plugins/main-slick";
@import "plugins/theme-slick";
// Components
@import "components/button";
@import "components/image-hero";
@import "components/accordion";
@import "components/off-canvas";
// Elements
@import "elements/header";
@import "elements/footer";

body {
    font-size: $base-font-size;
    font-family: 'Palanquin', sans-serif;
    background: #fafafa;
    p {
        color: #757575;
        line-height: 26px;
    }
}

.row {
    background: #fff;
}

.small-12 {
    padding: 0 10px;
    @media #{$large-up} {
        padding: 0 50px;
    }
}

.collapsed {
    padding: 0 !important;
}

.serif {
    font-family: 'Palanquin', sans-serif;
}

hr {
    margin-top: 0;
    border-width: 1px;
    border-color: $primary-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'queens_parkregular';
    &.title {
        color: $primary-color;
        padding-top: 20px;
    }
    &.subheading {
        color: $grey-number-1;
        margin-top: 20px;
    }
}

h2.title {
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    @media #{$large-up} {
        font-size: 68px;
        text-align: left;
    }
    &.club {
        text-align: left;
        font-size: 30px;
        margin-bottom: 5px;
        @media #{$medium-up} {
            font-size: 68px;
        }
    }
}

h5 {
    font-size: 1rem;
}

.partner-slider {
    overflow: hidden;
    @media #{$small-only} {
        .slick-slider {
            margin-bottom: 0;
        }
    }
    @media #{$large-up} {
        height: 400px;
    }
    slick{
        height: 100%;
        * {
            height: 100%;
        }
        img, .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            font-family: 'object-fit: cover;'
        }
    }
}

.sponsor-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        opacity: 0.75;
        transition: opacity .3s ease-in-out;
        &.active {
            opacity: 1;
        }
        a {
            display: block;
            height: 100%;
            padding: 50px;
            @media #{$large-up} {
                padding: 100px;
            }
            img {
                width: 100%;
                height: 140px;
            }
        }
        &:hover {
            opacity: 1;
        }
    }
}

.slick-next {
    right: 10px;
    transform: translateY(-50%);
    background: #cacaca;
    height: 50px !important;
    width: 50px;
    border-radius: 50%;
    opacity: .5;
    transition: opacity .3s ease-in-out;
    &:hover {
        opacity: 1;
        background: #cacaca;
    }
}

.slick-prev {
    left: 10px;
    transform: translateY(-50%);
    background: #cacaca;
    height: 50px !important;
    width: 50px;
    border-radius: 50%;
    opacity: .5;
    transition: opacity .3s ease-in-out;
    &:hover {
        opacity: 1;
        background: #cacaca;
    }
}

.button {
    background: transparent;
    &:hover {
        background: $primary-color;
    }
}

.mb-none {
    margin-bottom: 0;
}

.reveal {
    width: 80% !important;
    max-width: none !important;
}

.reveal .slick-slider {
    margin: 0;
}

.slick-slide img {
    width: 100%;
}

.event__tabs {
    h2 {
        font-family: 'Palanquin', sans-serif;
        font-size: 68px;
        color: $primary-color;
    }
    ul, .tabs-content {
        border: none;
    }

    a {
        font-size: 20px;
        color: $primary-color;
        vertical-align: middle;
        padding: 0 10px;
    }

    .tabs-title {
        float: none;
        display: inline-block;
    }

    .tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
        background: none;
        font-size: 30px;
    }
}

object {
    width: 100%;
    display: block;
    height: auto;
    position: relative;
    padding-top: 100%;
    svg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.burger {
    width: 20px;
    height: 2px;
    display: inline-block;
    background: $primary-color;
    border-radius: 5px;
    position: relative;
    margin-left: 5px;
    &:before {
        content: "";
        position: absolute;
        top: -5px;
        display: block;
        height: 2px;
        width: 20px;
        background: $primary-color;
        border-radius: 5px;
    }
    &:after {
        content: "";
        position: absolute;
        bottom: -5px;
        display: block;
        height: 2px;
        width: 20px;
        background: $primary-color;
        border-radius: 5px;
    }
}

.collapse-left {
    @media #{$large-up} {
        padding-left: 0 !important;
    }
}

.collapse-right {
    @media #{$large-up} {
        padding-right: 0 !important;
    }
}

@media #{$small-only} {
    .reveal {
        height: auto !important;
        min-height: 0 !important;
    }
}

.slick-prev, .slick-next {
    height: 100% !important;
    border-radius: 0;
    top: 10px;
    transform: none;
    opacity: 1;
    &:focus {
      background: #cacaca;
    }
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slick-prev:before {
    content: "<";
}

.slick-next:before {
    content: ">";
}

.index-content {
    height: 90vh;
    z-index: 801;
    
    @include breakpoint(medium) {
        height: calc(100vh - 240px);
    }
    
    .row {
        height: 100%;
        
        .columns {
            z-index: 1; /* Makes text visible over the slider images */
            
            @include breakpoint(medium) {
                text-align: left;
            }
        }
    }
    
    h2, p, button {
        color: #fff;
    }
    
    h2, p {
        font-size: 1.5rem; 
        line-height: 2rem;
    }
    
    hr {
        width: 60px;
        border-color: #fff;
        margin: 2em auto;
        
        @include breakpoint(medium) {
            margin: 2em 0;
        }
    }
    
    p {
        font-family: 'queens_parkregular';
        max-width: 80%;
        margin: 1em auto;
        
        @include breakpoint(medium) {
            max-width: 300px;
            margin: 1em 0;
        }
    }
    
    button {
        border: 1px solid #fff;
    }
}

.see-partners {
    z-index: 2;
    position: absolute;
    bottom: 2em;
    width: 100%;
    text-align: center;

    a {
        color: #fff;
    }

    h2 {
        margin-bottom: 20px;
    }

    .arrow {
        position: absolute;
        left: calc(50% - 10px);
        display: block;

        &:before, &:after {
            width: 20px;
            height: 2px;
            background-color: #fff;
            content: "";
            position: absolute;
            display: block;
        }

        &:before {
            transform: rotate(-45deg);
            left: 6.5px;
        }

        &:after {
            transform: rotate(45deg);
            left: -6.5px;
        }
    }
}
