.accordion-title {
    padding: 0;
    height: 350px;
    overflow: hidden;
    position: relative;
    img, .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    h2 {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
    }
    slick{
        height: 100%;
        * {
            height: 100%;
        }
    }
    &:before {
        content: "" !important;
    }
}
