<header class="header">
    <nav class="top-bar">
        <a href="#" class="mobile-menu small-1 columns show-for-small-only">M</a>
        <div class="medium-2 columns">
            <a class="shield" ui-sref="application.main">
                <svg style="width:120px">
                    <use xlink:href="#gbb-shield" />
                </svg>
            </a>
        </div>
        <div class="medium-10 columns hide-for-small-only content-holder">
            <div class="header--top text-right">
                <div class="small-12 medium-8 columns collapsed">
                    <a class="small" href="">Corporategolf</a>
                    <a class="small" href="">Contact</a>
                    <a class="small" href="">News</a>
                </div>
                <div class="medium-4 columns text-right hide-for-small-only">
                    <span>some icons</span>
                </div>
            </div>
            <div class="header--bottom menu">
                <ul class="under-menu">
                    <li>
                        <a href="#">2016Events</a>
                    </li>
                    <li>
                        <a ui-sref="application.clubsView({clubs: 'danish' })">Golfclubs</a>
                        <ul class="sub-menu">
                            <li class="line"></li>
                            <li ng-repeat="club in view.clubs"><a ui-sref="application.clubsView({clubs: '{{club.url}}' })">{{club.language}}</a></li>
                        </ul>
                    </li>
                    <li>
                        <a ui-sref="application.partners">Partners</a>
                    </li>
                    <li>
                        <a href="#">Suppliers</a>
                    </li>
                    <li>
                        <a href="#">Gallery</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="partner-slider">
    <slick dots="false" infinite="true" speed=300 slides-to-show=1 touch-move="true" slides-to-scroll=1 init-onload=true data="view.currentItem.images">
        <div ng-repeat="image in view.currentItem.images">
            <div class="image">
                <img ng-src="{{image.url}}" alt="">
            </div>
        </div>
    </slick>
</div>
<div class="row">
    <div class="small-12 columns">
        <h5 class="subheading">Loewe Reference</h5>
        <p>Effortless Perfection! A timeless modernist design meets ultimate convenience. The new Loewe Reference sets exceptionally high standards. An achievement made possible by a perfectly synchronised performance: A crystal-clear Ultra-HD picture combines with outstanding quality sound from Loewe's unique integrated soundbar. A timeless modernist design meets ulti mate convenience, thanks to  the integrated hard disk recorder and Bluetooth audio streaming. </p>

        <h5 class="subheading">Loewe Connect</h5>
        <p>Perfect video archiving and streaming! Watch one channel while following a second in picture-in-picture mode and recording a third on the integrated hard disk recorder - the new Loewe Connect range takes viewing to a whole new level with this unique features. Mix and match ... to meet precisely one need: yours! The Loewe Connect is by no means one size fits all. It comes in a wide range of variations: four sizes, four colour schemes and numerous stand options. Together with the Colour Kits, the Loewe Connect makes a statement even when switched off. A true original!</p>

        <h5 class=subheading>Loewe Art</h5>
        <p>Loewe Instant Channel Zapping ... a new kind of speed! The new Loewe Art Ultra HD range boasts the world's fastest channel changing times. Making it quick and easy for you to flick through channels, to see what's on and find what you want to watch. Loewe Instant Channel Zapping introduces high-speed channel  changes, taking beautifully intuitive operation to a whole new level.</p>

        <a href="http://www.loewe.dk" target="_blank">www.loewe.dk</a><br>
        <a href="http://www.loewe.se" target="_blank">www.loewe.se</a><br>
        <a href="http://www.loewe.no" target="_blank">www.loewe.no</a><br>
    </div>
    <div class="small-12 columns">
        <ul class="row sponsor-list">
            <li ng-repeat="partner in view.partners" ui-sref-active="active" class="small-6 column text-center"><a ui-sref="application.partnerview({id: {{partner.id}}})"><img ng-src={{partner.assets_url}} alt="" /></a></li>
        </ul>
    </div>
</div>
