.header.front-page {
    .top-bar {
        background-image: none;
        background-color: transparent;
        position: relative;
    }
    .header--top {
        border: none;
    }
    .header--top, .header--bottom {
        padding: 5px 0;
    }
    .shield {
        position: absolute;
        top: 20px;
        left: 40px;
        &.brown {
            svg {
                stroke: $primary-color;
            }
        }
    }
    * {
        color: #fff !important;
    }
    svg {
        stroke: initial;
    }
}

.top-bar {
    background: #fff;
    height: 65px;
    @media #{$medium-up} {
        height: 185px;
    }
    .content-holder {
        padding-top: 25px;
    }
    svg {
        fill: $primary-color;
        stroke: $primary-color;
    }
}

.header--top, .header--bottom {
    display: flex;
    padding: 10px 0;
    a {
        color: $primary-color;
        &.small {
            font-size: 10px;
        }
    }
}

.header--top {
    a {
        padding-right: 45px;
        &:last-child {
            padding-right: 0;
        }
    }
}

.header--bottom {
    a {
        text-transform: uppercase;
        font-size: 14px;
    }
}

.menu li > a {
    padding: 0;
}

.menu li {
    display: inline-block;
    position: relative;
    text-align: center;
}

.menu li:hover .sub-menu {
    display: block;
}

.under-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: transparent !important;
    text-align: right;
    li {
        display: inline-block;
        margin-right: 90px;
    }
}

.sub-menu {
    margin: 0;
    margin-left: -15px;
    position: absolute;
    z-index: 100;
    display: none;
    background: transparent !important;
    .line {
        margin: 10px auto;
        display: block;
        height: 1px;
        width: 50%;
        background: #fff;
    }
}

.sub-menu li {
    color: #fff;
    display: block;
    cursor: pointer;
    margin: 0;
}
