<div class="c-off-canvas" <i ng-class="topbar.menuState ? 'open' : 'closed'">
    <a href="#" ng-click="topbar.menuState = !topbar.menuState" class="mobile-menu small-1 columns show-for-small-only">M</a>
    <div class="small-12 columns">
        <svg viewBox="0 0 100 50">
            <use xlink:href="#gbb-logo" />
        </svg>
    </div>
</div>

<header class="header">
    <nav class="top-bar row">
        <a href="#" ng-click="topbar.menuState = !topbar.menuState" class="mobile-menu small-1 columns show-for-small-only">M</a>
        <div class="medium-4 columns">
            <a ui-sref="application.main" class="show-for-small-only">
                <svg>
                    <use xlink:href="#gbb-logo"></use>
                </svg>
            </a>
            <a ui-sref="application.main" class="shield hide-for-small-only" >
                <svg>
                    <use xlink:href="#gbb-logo" />
                </svg>
            </a>
        </div>
        <div class="medium-8 columns hide-for-small-only content-holder">
            <div class="header--top text-right">
                <div class="small-12 columns collapsed">
                    <a class="small" href="">Corporategolf</a>
                    <a class="small" ui-sref="application.contact">Contact</a>
                    <a class="small" href="">News</a>
                    <a href="https://www.instagram.com/golfbusinessbutler/" target="_blank">
                        <svg style="width: 11px; height: 11px;">
                            <use xlink:href="#insta" />
                        </svg>
                    </a>
                    <a href="https://www.youtube.com/channel/UC0GpR621M2h_oC8ByMAc0tg" target="_blank">
                        <svg style="width: 11px; height: 11px;">
                            <use xlink:href="#youtube" />
                        </svg>
                    </a>
                    <a href="https://www.linkedin.com/company/golf-&-business-butler---nordic-group" target="_blank">
                        <svg style="width: 11px; height: 11px;">
                            <use xlink:href="#linked" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="header--bottom menu">
                <ul class="under-menu">
                    <li>
                        <a href="#">2016Events</a>
                    </li>
                    <li class="expanded">
                        <a  ui-sref="application.clubsView({clubs: 'danish' })">Golfclubs</a>
                        <ul class="menu" style="margin-left: -17px;">
                            <li ng-repeat="club in topbar.clubs"><a ui-sref="application.clubsView({clubs: '{{club.url}}' })">{{club.language}}</a></li>
                        </ul>
                    </li>
                    <li>
                        <a ui-sref="application.partners">Partners</a>
                    </li>
                    <li>
                        <a ui-sref="application.suppliers">Suppliers</a>
                    </li>
                    <li>
                        <a ui-sref="application.contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
